body{
    background-color: #ececec;
    margin-bottom: 50px;
}

html{
    position: relative;
}

.navigation{
    background-color: white;
}

.navigation .navbar-brand{
    color: white;
    margin-left: 0px;
    margin-bottom: 0px;
    font-weight: bold;
    background-color: #00b6ad;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: inherit;
}

.navigation .navbar-toggler{
    border-color: #ececec;
}

.nav-item{
    font-weight: 500;
}

.article-content{
    background-color: white;
    padding: 30px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;

}

.container{
    padding-top: 25px;
}

.panel{
    background-color: white;
    color: gray;
    margin-top: 50px;
    padding: 35px;
}

.title{
    color: #00b6ad;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

h5{
    text-align: center;
}

p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

@media(max-width:991px){
    .navbar-expand-lg{
        background-color: #00b6ad;
    }

    .navigation .navbar-collapse{
        background-color: white;
    }

    .article-content{
        margin-top: 15px;
        padding: 10px;
    }
}